<div class="hs-card">
  <div class="mb-12">
    <h2>
      Вітаємо, {{user?.name}}! 👋
    </h2>
  </div>

  <div class="mb-12">
    Дякуємо за реєстрацію! Ваш профіль створено, і наразі очікує на активацію адміністраторами. ⏳
  </div>
  <div class="mb-12">
    Після підтвердження ви отримаєте доступ до всіх функцій платформи. Ми повідомимо вас, щойно ваш профіль буде активовано.
  </div>
  <div class="mb-12">
    Якщо у вас виникли запитання, звертайтесь до служби підтримки. Дякуємо за ваше терпіння! 🚀
  </div>
</div>
