:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

::ng-deep .mat-mdc-paginator-page-size-label {
  display: none;
}
