<!-- exercises-home.component.html -->
<div class="h-100 w-100 p-12 container flex flex-column">
  <div class="flex w-100 justify-content-between align-content-center">
    <div class="flex justify-content-between">
      <h2 class="fc-primary">Вправ: {{ totalUsersCount }}</h2>
    </div>

    <div class="flex justify-content-end">
      <hs-button
        size="medium"
        class="mt-14"
        [routerLink]="'/exercises-home/create-exercise'"
        [text]="'Створити вправу'"
      ></hs-button>
    </div>
  </div>

  <div class="w-100" style="overflow: scroll; max-height: 100%; height: 100%;">
    <hs-table-grid
      style="height: 100% !important;"
      *ngIf="users.length"
      [dataType]="tableGridDataTypeEnum.API"
      [allowMultiplySorting]="false"
      [data]="users"
      (clickOnRow)="moveToExegesis($event.id)"
    >
      <div hsTableColumn caption="ID" width="40px" fieldName="id" [allowResize]="true"></div>

      <div
        hsTableColumn
        fieldName="img"
        caption="Назва"
        width="120px"
        [cellTemplate]="nameTmpl"
        [allowResize]="true"
      >
        <ng-template #nameTmpl let-data="cellData">
          <div class="m-2">
            {{ data?.name }}
          </div>
        </ng-template>
      </div>

      <div
        hsTableColumn
        fieldName="videoURL"
        caption="URL video"
        width="150px"
        [cellTemplate]="videoURLTmpl"
        [allowResize]="true"
      >
        <ng-template #videoURLTmpl let-data="cellData">
          <div class="m-2 bk-link" (click)="moveToTGExegesis(data?.videoURL); $event.stopPropagation();">
            {{ data?.videoURL }}
          </div>
        </ng-template>
      </div>

      <div
        hsTableColumn
        fieldName="comment"
        caption="Коментар"
        width="120px"
        [cellTemplate]="commentTmpl"
        [allowResize]="true"
      >
        <ng-template #commentTmpl let-data="cellData">
          <div class="m-2">
            {{ data?.comment }}
          </div>
        </ng-template>
      </div>

      <!-- Якщо треба кнопка видалення:
      <div hsTableColumn caption="Дія" width="40px" [cellTemplate]="actionTmpl" [allowResize]="true">
        <ng-template #actionTmpl let-data="cellData">
          <div class="m-2">
            <hs-icon-button (click)="$event.stopPropagation(); deleteExercise(data)">
              <i class="hs-icon icon-cross"></i>
            </hs-icon-button>
          </div>
        </ng-template>
      </div>
      -->
    </hs-table-grid>
  </div>

  <mat-paginator
    [length]="totalUsersCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
