<div class="h-100 w-100 p-12 container">
  <div class="flex  justify-content-between">
    <h2 class="fc-primary">Користувачів: {{ totalUsersCount }}</h2>
  </div>

  <div class="w-100 " style="overflow: scroll; max-height: 100%; height: 100%;">
    <hs-table-grid style=" height: 100% !important;" *ngIf="users.length" [dataType]="tableGridDataTypeEnum.API"
                   [allowMultiplySorting]="false" [data]="users" (clickOnRow)="moveToMessage($event.id)">

      <div hsTableColumn caption="ID" width="70px" fieldName="id" [allowResize]="true"></div>

      <div hsTableColumn fieldName="status" caption="Статус" width="120px" [cellTemplate]="statusTmpl" [allowResize]="true">
        <ng-template #statusTmpl let-data="cellData">
          <hs-status [statusType]="data?.status"></hs-status>
        </ng-template>
      </div>


      <div hsTableColumn fieldName="img" caption="Імя" width="120px" [cellTemplate]="idNumberTmpl" [allowResize]="true">
        <ng-template #idNumberTmpl let-data="cellData">
          <div class="m-2">
            {{ data?.name }}
          </div>
        </ng-template>
      </div>


      <div hsTableColumn fieldName="img" caption="Прізвище" width="120px" [cellTemplate]="idNumberChatTmpl"
           [allowResize]="true">
        <ng-template #idNumberChatTmpl let-data="cellData">
          <div class="m-2">
            {{ data?.secondName }}
          </div>
        </ng-template>
      </div>

      <div hsTableColumn fieldName="img" caption="E-mail" width="120px" [cellTemplate]="emailChatTmpl"
           [allowResize]="true">
        <ng-template #emailChatTmpl let-data="cellData">
          <div class="m-2">
            {{ data?.email }}
          </div>
        </ng-template>
      </div>

      <div hsTableColumn fieldName="img" caption="Дата створення" width="120px" [cellTemplate]="createdTmpl"
           [allowResize]="true">
        <ng-template #createdTmpl let-data="cellData">
          <div class="m-2">
            {{ data?.createdAt.seconds * 1000 | date: 'dd.MM.yyyy HH:mm' }}
          </div>
        </ng-template>
      </div>

    </hs-table-grid>


  </div>
  <mat-paginator
    [length]="totalUsersCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>

</div>




